@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is just some website where you can find nothing.</p>
    <div>
    </div>
</div>
