@model IEnumerable<Blog.Models.Tag>

@{
    ViewData["Title"] = "List";
}

<h4>Tags</h4>

<p>
    <a href="Tags/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-outline-danger" href="Tags/Delete/@item.Id" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
