<ul class="list-group">
    <li class="list-group-item">
        <form class="form-group" action="/Posts/Search" method="post">
            <div class="input-group mb-2">
                <input type="text" class="form-control" name="query" placeholder="Search">
                <div class="input-group-prepend">
                    <button class="input-group-text"><i class="material-icons">search</i></button>
                </div>
            </div>
        </form>
    </li>
    <li class="list-group-item">
        Categories
        <ul id="cats">

        </ul>
    </li>
    <li id="tags" class="list-group-item">
        Tags<br />
    </li>
</ul>